@import "../../styles/variables";

.active {
  color: white;
  text-decoration: none;
  padding: 0 5px;
}
.navlink {
  text-decoration: none;
  color: $text-prm;
  padding: 0 5px;
}
.bj-animation {
  height: 25px;
  border-radius: 12px;
  width: 24px;
  margin-left: 12px;
  transform: scale(2);
  background: url("../../img/Bj.png");
  animation: sprite 1.5s steps(3) infinite;
}
@keyframes sprite {
  from {
    background-position: 0px;
  }
  to {
    background-position: -74px;
  }
}
.terminal {
  animation-name: sprite;
  animation-duration: 1.5s;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}
@media only screen and (max-width: 991px) {
  .bj-animation {
    display: none;
  }
}
